@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.paypal-buttons {
  min-height: 14.5rem;
}

.paid__date {
  @include M-montserrat-header;
  font-size: 1.25rem;
  color: $primary-dark-blue;
  margin-left: 1rem;
}
