@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.descripText {
  font-size: 1.3rem;
  font-family: sans-serif;
  color: black;
  height: 8rem;
  padding-right: 2rem;
}

.updateBtn {
  margin-bottom: 2rem;
}

.sizesCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.sizesCont > div {
  display: flex;
  align-items: center;
}
.CB {
  margin-right: 1rem;
}

.sizeTitle {
  margin-bottom: 0.7rem;
}

.inputs__checkbox {
  height: 2rem;
  width: 2rem;
}

.image__input,
.image__label {
  display: none;
}
