@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.signin {
  @include background;
  min-height: 80%;

  .submit {
    max-width: 50rem;
    margin: 0 auto;
    &__title {
      @include M-bebas-header;
      color: $background-grey;
      text-align: center;
      padding: 1.5rem 0;
    }
  }
}

.inputs {
  &__label {
    @include label;
  }

  &__input {
    @include input;
  }
}

.signinbutton {
  @include button;
  border: 1px solid $primary-dark-blue;
  &:hover {
    color: $primary-light-blue;
    border: 2px solid $primary-light-blue;
  }
}

.redirect {
  margin-top: 1.5rem;
  &__p {
    @include M-montserrat-header;
  }

  &__link {
    @include M-bebas-header;
    color: $background-grey;
  }
}
