@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.signin {
  @include background;
  min-height: 80%;

  .submit {
    max-width: 50rem;
    margin: 0 auto;
    &__title {
      @include M-bebas-header;
      color: white;
      text-align: center;
      padding: 1.5rem 0;

      @include tablet {
        @include T-bebas-header;
        color: white;
      }
    }

    .inputs {
      &__label {
        @include label;
      }

      &__input {
        @include input;
      }
    }

    .signInBtn {
      @include button;
      border: 1px solid $primary-dark-blue;
      &:hover {
        color: $primary-light-blue;
        border: 2px solid $primary-light-blue;
      }
    }

    .redirect {
      margin-top: 1.5rem;
      &__text {
        @include M-montserrat-header;
      }

      &__link {
        @include M-bebas-header;
        color: white;
      }
    }
  }
}
