@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

#q {
  height: 3.6rem;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 1.6rem;
  width: 90%;
  font-size: 1.4rem;
  color: $primary-black;
  border: 1px solid $primary-dark-blue;
}

.searchWrapper {
  @include flex-center;

  position: relative;
  width: 25rem;
}

.searchBtn {
  background-color: white;
  padding: 0.34rem;
  outline: none;
  border: none;
  border: 1px solid $primary-dark-blue;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  right: 5%;
}
