@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.landingPage {
  background: url("../../assets/images/heros/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    @include flex-center;
    @include M-bebas-header;
    color: white;
    padding-top: 3rem;
  }

  .cards {
    padding: 3rem 0rem;
    .card {
      height: 40rem;
      width: 30rem;
      margin: 0 auto;
      box-shadow: 0rem 0rem 5px $primary-dark-blue;
      border-radius: 8px;
      background-color: white;
      margin-bottom: 3rem;

      .img {
        height: 80%;
        width: 100%;

        &__img {
          height: 100%;
          width: 100%;
          object-fit: contain;

          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          padding: 0.5rem;
        }
      }

      .info {
        background-color: $background-grey;
        padding: 1rem;
        height: 20%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        @include flex-center;
        flex-direction: column;

        &__title {
          @include M-bebas-header;
          @include flex-center;
          text-align: center;
        }

        &__price {
          @include M-bebas-header;
          color: $primary-dark-blue;
        }
      }
    }
  }
}
