@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.landingPage {
  @include background;

  &__title {
    @include flex-center;
    @include M-bebas-header;
    color: white;
    padding-top: 2rem;
    margin-bottom: 2rem;

    @include tablet {
      @include T-bebas-header;
      color: white;
    }
  }

  .cards {
    padding: 1.5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include tablet {
      padding: 0 2.4rem;
    }
    .card {
      height: 38rem;
      width: 30rem;
      margin: 0 2rem 3rem;
      box-shadow: 0rem 0rem 5px $primary-dark-blue;
      border-radius: 2px;
      background-color: white;

      .img {
        height: 78%;
        width: 100%;
        padding: 2rem;

        &__img {
          height: 100%;
          width: 100%;
          object-fit: contain;

          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          padding-left: 0 1rem;
        }
      }

      .info {
        background-color: $background-grey;
        padding: 1rem;
        height: 22%;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        @include flex-center;
        flex-direction: column;

        &__title {
          @include M-bebas-header;
          @include flex-center;
          text-align: center;
        }

        &__price {
          @include M-bebas-header;
          color: $primary-dark-blue;
        }
      }
    }
  }
}
