@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.loading {
  font-size: 2rem;
  @include flex-center;
  color: $primary-dark-blue;
  margin-top: 2rem;

  &__p {
    margin-left: 1.5rem;
  }
}

.loading > i {
  text-align: center;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.alert {
  padding: 1rem;
  font-size: 2rem;
  @include flex-center;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: blue;
  background-color: #e0e0ff;
}

.alert-danger {
  color: red;
  background-color: #ffe0e0e0;
  margin-bottom: 2rem;
}
