@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.selectedProduct {
  background: url("../../assets/images/heros/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .title {
    padding: 2rem;
    padding-top: 3rem;
    @include M-bebas-header;
    @include flex-center;
    color: white;
  }

  .img {
    height: 40rem;
    width: 30rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 0 2rem;

    &__img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .description {
    width: 31rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 1.5rem;

    &__price {
      margin-bottom: 1rem;
      @include M-bebas-header;
      text-align: center;
    }

    &__description {
      @include M-montserrat-header;
      text-align: center;
    }
  }

  .details {
    width: 31rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 1.5rem;

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include M-montserrat-header;
      margin-bottom: 1rem;

      &__status {
        &__success {
          color: $primary-green;
        }

        &__error {
          color: $primary-red;
        }
      }
    }

    .addToCart {
      &__btn {
        @include M-bebas-header;

        width: 100%;
        height: 5rem;
        background-color: $primary-yellow;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $primary-dark-blue;
      }
    }
  }
}

.sizenqty {
  display: flex;
  align-items: center;
  @include M-montserrat-header;
  padding: 1.5rem 0;

  .qtyWrap {
    align-items: center;
    width: 50%;
  }
  .select {
    width: 4rem;
    height: 3rem;
  }

  .lab {
    margin-right: 1rem;
  }

  .sizeWrap {
    margin-left: auto;
  }
}
