@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.selectedProduct {
  background: url("../../assets/images/heros/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .title {
    padding: 2rem;
    padding-top: 3rem;
    @include M-bebas-header;
    @include flex-center;
    color: white;
  }

  .img {
    height: 35rem;
    width: 30rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 2rem;
    padding-bottom: 0;

    &__img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .description {
    width: 31rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 1.5rem;

    &__price {
      margin-bottom: 1rem;
      @include M-bebas-header;
      text-align: center;
    }

    &__description,
    &__release,
    &__art {
      @include M-montserrat-header;
      text-align: center;
    }

    .trackFlex {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid $primary-dark-blue;

      &__title {
        @include M-bebas-header;
        margin-right: 1rem;
      }

      &__tracklist {
        &__track {
          @include M-montserrat-header;
          font-size: 1.2rem;
          padding: 0.2rem 0;
        }
      }
      &__trackLength {
        &__length {
          @include M-montserrat-header;
          font-size: 1.2rem;
          padding: 0.2rem 0;
        }
      }
    }

    // &__tracklist {
    //   @include M-montserrat-header;

    //   &__track {
    //     padding: 0.2rem 0;
    //   }
    // }
  }

  .details {
    width: 31rem;
    margin: 0 auto;
    box-shadow: 0rem 0rem 5px $primary-dark-blue;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 3rem;
    padding: 1.5rem;

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include M-montserrat-header;
      margin-bottom: 1rem;

      &__status {
        &__success {
          color: $primary-green;
        }

        &__error {
          color: $primary-red;
        }
      }
    }

    .addToCart {
      &__btn {
        @include button;
      }
    }
  }
}

.sizenqty {
  display: flex;
  align-items: center;

  @include M-montserrat-header;
  padding: 1.5rem 0;

  .qtyWrap {
    align-items: center;
    width: 50%;
  }
  .select {
    @include M-montserrat-header;
    width: 4rem;
    height: 3rem;
  }

  .lab {
    margin-right: 1rem;
  }

  .sizeWrap {
    margin-left: auto;
  }
}
