@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.header {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.6rem;
    background-color: $background-grey;
  }

  &__logoImg {
    height: 8rem;
  }

  &__title {
    @include M-bebas-header;
    // line-height: 65%;
    color: black;
    font-size: 4rem;
  }

  //MOBILE MENU (BURGER)
  .burger {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 16rem;
    left: 0;
    background-color: $primary-dark-blue;
    z-index: 10;

    &__list {
      box-shadow: 0px 5px 5px $primary-dark-blue;
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include M-bebas-header;
    }

    &__listItem {
      margin: 2rem 0;

      &--underline {
        text-decoration: underline;
        text-align: center;
        border-top: 1px solid $background-grey;
        padding-top: 2rem;
        display: block;
        width: 30%;
      }
    }
    &__link {
      color: white;
    }

    @include desktop {
      display: none;
    }
  }

  //MOBILE NAV
  .navMobile {
    background-color: $primary-yellow;
    position: relative;

    @include tablet {
      padding: 0 2.4rem;
    }

    @include desktop {
      display: none;
    }

    &__container {
      padding: 0 2rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__cartLink {
      position: relative;
      z-index: 1;
      top: 0.7rem;
    }

    &__cartBadge {
      position: absolute;
      top: -2.1rem;
      left: -0.25rem;
      background-color: white;
      z-index: -1;
      @include M-montserrat-header;
      color: $primary-red;
      border-radius: 50%;
      padding: 0.2rem 0.6rem;
      font-size: 1rem;
      margin-left: 0.2rem;
    }

    &__search {
      @include searchInput;
      width: 70%;
    }
  }

  //DESKTOP/TABLET NAV
  .navDesktop {
    display: none;

    @include desktop {
      display: flex;
      align-items: center;
      background-color: $primary-yellow;
      height: 5rem;

      &__container {
        @include flex-center;
        margin: 0 auto;
        width: 90%;
      }
      &__cartContainer {
        flex: 1;
      }
      &__cartLink {
        display: flex;
        position: relative;
        top: 0.45rem;
        z-index: 50;
      }
      &__cartIcon {
        height: 3rem;
        z-index: 70;
      }

      &__cartBadge {
        background-color: white;
        position: absolute;
        left: -0.25rem;
        top: -0.8rem;
        @include M-montserrat-header;
        color: $primary-red;
        border-radius: 50%;
        padding: 0.4rem 1rem;
        font-size: 1rem;
        margin-left: 0.2rem;
      }

      &__search {
        @include searchInput;
        flex: 1;
        min-width: 46rem;
      }

      &__dropdownsContainer {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
      }

      &__dropdown {
        position: relative;
        text-align: center;

        &:hover .navDesktop__dropdownContent {
          display: flex;
          flex-direction: column;
        }
      }

      &__link {
        @include M-bebas-header;
        font-size: 2rem;
        display: block;
        width: 11.2rem;
        text-align: right;

        &:hover {
          color: $primary-dark-blue;
        }
      }

      &__dropdownContent {
        position: absolute;
        display: none;
        right: -2rem;
        top: 2rem;
        width: 100%;
        background-color: $primary-yellow;
        border-radius: 0.3rem;
        padding: 1rem;
        box-shadow: 0px 2px 2px rgb(230, 184, 98);
      }

      &__dropdownLink {
        @include M-bebas-header;
        margin-top: 1.5rem;
        font-size: 1.4rem;

        &:hover {
          color: $primary-dark-blue;
        }
      }
    }
  }
}
