@use '../../partials/globals' as *;
@use '../../partials/variables';
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.order {
  @include background;

  &__title {
    @include M-bebas-header;
    color: white;
    text-align: center;
    padding-top: 2rem;

    @include tablet {
      @include T-bebas-header;
      color: white;
    }
  }
}

.orderContainer {
  padding: 2rem;

  @include tablet {
    display: flex;

    justify-content: center;
  }
}

.shippingCardMobile {
  @include tablet {
    display: none;
  }
}

.shippingCard {
  display: none;
  @include tablet {
    display: block;
  }
}

.orderCard {
  box-shadow: 0rem 0rem 5px $primary-dark-blue;
  border-radius: 3px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  max-width: 35rem;

  @include tablet {
    min-width: 20rem;
    max-width: 30rem;
    flex: 1 1 20rem;
    margin: 1rem;
  }

  &__title {
    @include M-bebas-header;

    &--underline {
      border-bottom: 1px solid $background-grey;
    }
  }

  &__subtitle {
    @include M-montserrat-header;

    &--bold {
      font-weight: 600;
    }
  }

  &__text {
    font-size: 1.25rem;
    color: $primary-dark-blue;
    margin-bottom: 1rem;
  }

  &__price {
    font-size: 1.25rem;
    color: $primary-dark-blue;
  }

  &__summaryRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $background-grey;
    margin: 0.75rem 0;
  }
}

.orderItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $background-grey;
  height: 15rem;

  &__imgContainer {
    background-color: white;
    padding: 1.2rem;
    height: 100%;
    width: 50%;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__detailsContainer {
    @include M-montserrat-header;
    height: 80%;
  }
  &__name {
    @include M-bebas-header;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }
}

.placeOrderButton {
  @include button;
  &:hover {
    color: $primary-light-blue;
    border: 2px solid $primary-light-blue;
  }
}
