@import "./variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background {
  background: url("../assets/images/heros/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

//MOBILE TEXTS
@mixin M-bebas-header {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  font-size: 2.9rem;

  font-weight: bold;
  color: $primary-red;
}

@mixin M-montserrat-header {
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 500;
  color: $primary-dark-blue;
}

@mixin M-subheader {
  font-size: 2rem;
  line-height: 28px;
  font-weight: bold;
  color: $primary-black;
}

@mixin M-label-link-button {
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: bold;
  color: $primary-black;
}

@mixin M-table-header {
  font-size: 1.1rem;
  line-height: 16px;
  color: $secondary-slate;
  font-weight: bold;
}

@mixin M-body-large {
  font-size: 1.5rem;
  line-height: 26px;
  color: $primary-black;
  font-weight: normal;
}

@mixin M-body-medium {
  font-size: 1.3rem;
  line-height: 20px;
  color: $primary-black;
  font-weight: normal;
}

@mixin M-body-small {
  font-size: 1.1rem;
  line-height: 16px;
  color: $primary-black;
  font-weight: normal;
}

@mixin button {
  @include M-bebas-header;
  width: 100%;
  height: 5rem;
  background-color: $primary-yellow;
  outline: none;
  border: none;
  border-radius: 5px;
  color: $primary-dark-blue;
  border: 1px solid $primary-dark-blue;
}

@mixin input {
  width: 100%;
  height: 36px;
  border: 1px solid $primary-dark-blue;
  border-radius: 20px;
  margin-bottom: 1.6rem;
  padding: 0.7rem 0rem 0.9rem 1.6rem;
  transition: 0.2s;
  margin-top: 0.4rem;
  background-color: white;
}

@mixin label {
  @include M-montserrat-header;
  font-size: 1.5rem;
  color: $background-grey;
}
