@import "./variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background {
  background: url("../assets/images/heros/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding-bottom: 2rem;
}

//MOBILE TEXTS
@mixin M-bebas-header {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  font-size: 2.9rem;
  font-weight: bold;
  color: $primary-red;
}

@mixin T-bebas-header {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  font-size: 4rem;
  font-weight: bold;
  color: $primary-red;
}

@mixin M-montserrat-header {
  font-family: "Montserrat";
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  letter-spacing: 0;
  font-weight: 500;
  color: $primary-dark-blue;
}

@mixin button {
  @include M-bebas-header;
  width: 100%;
  height: 5rem;
  background-color: $primary-yellow;
  outline: none;
  border: none;
  border-radius: 2px;
  color: $primary-dark-blue;
  border: 1px solid $primary-dark-blue;
  cursor: pointer;
}

@mixin input {
  width: 100%;
  height: 36px;
  border: 1px solid $primary-dark-blue;
  border-radius: 6px;
  margin-bottom: 1.6rem;
  padding: 0.7rem 0rem 0.9rem 1.6rem;
  transition: 0.2s;
  margin-top: 0.4rem;
  background-color: white;
}

@mixin searchInput {
  height: 3.6rem;
  border-radius: 0.3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 46rem;
  background-image: url("../assets/icons/search-24px.svg");
  background-position: calc(100% - 1rem), center;
  background-repeat: no-repeat;
  font-size: 1.4rem;
  color: $primary-black;
  border: 1px solid $primary-dark-blue;
}

@mixin label {
  @include M-montserrat-header;
  font-size: 1.5rem;
  color: $background-grey;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
