//COLORS
//PRIMARY
$primary-black: #13182c;
$primary-red: #cf242a;
$primary-yellow: #ddc46b;
$primary-dark-blue: #001a2e;
$primary-light-blue: #354d57;
$primary-cloud: #d9e2e7;
$primary-green: rgb(83, 189, 83);
//SECONDARY
$background-graphite: #232940;
$background-grey: #eef2f7;
//MISC
$misc-green: #158463;
$misc-red: #c94515;
//BREAKPOINTS
$breakpoint-tablet: 680px;
$breakpoint-desktop: 1080px;
